.section {
  padding: 90px 20px;
  background: #fafafa;
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 34px;
  font-weight: bold;
}

.subtitle {
  margin-top: 10px;
  color: #666;
  font-size: 16px;
}

.grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: white;
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  transition: 0.3s;
  cursor: pointer;
}

.card svg {
  font-size: 28px;
  color: #6c63ff;
}

.card h3 {
  margin-top: 15px;
  font-size: 18px;
}

.card p {
  margin-top: 8px;
  color: #666;
  font-size: 14px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}