.adminlayout{
    display: flex;
}
.sidebar{
    width: 300px;
    height: 100vh;
    position: fixed;
   top: 0;
  right: 0;
  

}
.contectContainer{
    margin-right: 300px;
    flex: 1;
    padding: 20px;
}