.courseintru{
display:grid;
grid-template-columns:2fr 1fr;
gap:30px;
margin-top:30px;

display: flex;
justify-content: space-between;
}

.courseinfo{
background:#ffffff;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.coursetilte{
font-size:28px;
margin-bottom:15px;
color:#222;
}

.coursedecription{
font-size:15px;
line-height:1.9;
color:#555;
}

.coursepaymant{
background:#ffffff;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
display:flex;
flex-direction:column;
gap:15px;
align-items:center;
}

.inrolbtn{
width:100%;
padding:12px;
background:#4f46e5;
border:none;
border-radius:8px;
color:#fff;
font-size:16px;
display:flex;
align-items:center;
justify-content:center;
gap:10px;
cursor:pointer;
transition:0.3s;
}

.inrolbtn:hover{
background:#4338ca;
}

.freeintrolbtn{
width:100%;
padding:12px;
background:#16a34a;
border:none;
border-radius:8px;
color:#fff;
font-size:16px;
display:flex;
align-items:center;
justify-content:center;
gap:10px;
cursor:pointer;
}

.priceBox{
display:flex;
align-items:center;
gap:8px;
font-size:18px;
font-weight:bold;
color:#111;
}

.orginalPrice{
color:#999;
font-size:14px;
}

.purchasedBox{
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
text-align:center;
}

.learningbtn{
margin-top:10px;
background:#22c55e;
padding:10px 18px;
border-radius:8px;
color:#fff;
text-decoration:none;
font-size:14px;
}

.learningbtn:hover{
background:#16a34a;
}

.courseMeta{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
margin-top:30px;
}

.courseDetailsBox{
background:#fff;
padding:15px;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.05);
text-align:center;
}

.label{
font-size:14px;
color:#777;
margin-bottom:5px;
}

.value{
font-size:16px;
font-weight:bold;
color:#222;
}
