.section {
  padding: 90px 20px;
  background: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 34px;
  font-weight: bold;
}

.subtitle {
  margin-top: 10px;
  color: #666;
}

.grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #fafafa;
  padding: 30px 20px;
  border-radius: 16px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.card h3 {
  font-size: 28px;
  color: #6c63ff;
}

.card p {
  margin-top: 10px;
  color: #555;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}