.auchWrapp{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:tahoma;
    background: radial-gradient(circle at top,#283550,#575d6c);
    overflow:hidden;
}


.backtoHome{
    border: 2px solid rgb(111, 98, 98);
    border-radius: 30px;
    padding: 10px;
    z-index: 3;
    position: absolute;
    right: 10px;
    top: 30px;
}
.backtoHome a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgba(21, 193, 228, 0.639);
}



.auchWrapp::before, .auchWrapp::after{
    content:"";
    position:absolute;
    width:300px;
    height:300px;
    border-radius:50%;
    filter:blur(80px);
    opacity:0.6;
    z-index:0;
}

.auchWrapp::before{
    background:#00d4ff;
    top:10%;
    left:20%;
}


.auchWrapp::after{
    background:#7c3aed;
    bottom:10%;
    right:20%;
}




.particle{
    position:absolute;
    width:6px;
    height:6px;
    background:white;
    border-radius:50%;
    opacity:0.4;
    animation:move 4s linear infinite;
}

@keyframes move{
    from{transform:translateY(0)}
    to{transform:translateY(-800px)}
}




.linkButton {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 14px;
  border-radius: 10px;
  text-align: center;
  color: #00d4ff;
  font-weight: bold;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.3s;
  backdrop-filter: blur(10px);
  
}

.linkButton:hover {
  background: rgba(0, 212, 255, 0.15);
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 212, 255, 0.4);
}








.authForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 400px;
    background-color: white;
    padding: 40px 25px;
    border-radius: 10px;
    text-align: center;

}
.authForm h2{
    text-align: center;
    color: #444;

}
.authForm h3{
    color: #444;
    font-size: 18px;
    margin-bottom: 10px;

}
.authForm input,
.authForm button{
width: 100%;

padding: 10px;
border-radius: 10px;
outline: none;
border: none;
background-color: aliceblue;
margin-top: 20px;
font-size: 16px;

}
.authForm button{
   background-color: blue;
   color: white;
   cursor: pointer;

}

.gotobackRegister{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 400px;
    background-color: white;
    padding: 40px 25px;
    border-radius: 10px;

}
.gotobackRegister button{
     background-color: blue;
   color: white;
   cursor: pointer;
   margin: auto;
   padding: 10px;
   border-radius: 20px;
   text-align: center;
   width: 100%;
}








@keyframes gradientMOve{

0%{
   background-position: 0% 50% ; 
}
50%{
    background-position: 100% 50%;
}100%{
    background-position: 0% 50%;
}



}
.resend{
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(90, 90, 241);
}
